
<div>
  <a class="hiddenanchor" id="signin"></a>
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h1>Welcome Back!</h1>
           <div >
            <%= f.email_field :email, autofocus: true, placeholder: "email", class:"form-control" %>
          </div>
          <div>
            <%= f.password_field :password, placeholder: "current-password", class:"form-control" %>
          </div>
          <div>
            <%= f.submit "Log in", class:"btn btn-default submit", style:"float: none; margin-left: 0px; width: 60%" %>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <div class="clearfix"></div>
            <br />
          </div>

        <% end %>
      </section>
    </div>
  </div>
</div>


<!-- 
<%= render "users/shared/links" %>
-->