<div class="container-fluid">
  <h1 class="h3 mb-4 text-gray-800"><%= "#{action_message} Question" %></h1>

  <% if @question.errors.any? %>
    <div class="card mb-3 py-1 border-bottom-danger ">
      <div class="card-body">
        <ul>
          <% @question.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class=row>
    <%= form_with(model: [ :admins_backoffice, @question ], local: true) do |form| %>
      <div class="form-group row">
      </div>
      <div class="form-group">
        <%= form.text_area :description, class:"form-control", placeholder:"Description", rows:3 %>
      </div>
      <div class="form-group">
        <%# <%= form.select :subject, class:"form-control", placeholder:"Subject" %>
        <%= form.collection_select(:subject_id, @subject_options, :id, :description, {}, {class:"form-control"})%>
      </div>
      <div id="answers">
        <%= form.fields_for :answers do |answer| %>
          <%= render partial: "answer_fields", locals: { f: answer } %>
        <% end %>
        <%= link_to_add_association 'Add', form, :answers %>
      </div>
      <hr>
      <button type="submit" class="btn btn-primary btn-user btn-block">Save</button>
    <% end %>
  </div>
</div>