<!DOCTYPE html>
<html>
  <head>
    <title>ToA - Site</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%# <div>
        <p>header</p>
      </div> %>
      <%= yield %>
      <%# <div>
        <p>footer</p>
      </div> %>
    </div>
  </body>
</html>
